DATABASE_PATH="/absolute/path/"
DATABASE_NAME="aftermath.db"

# Init
INIT_GLOBAL_ADMIN_USER="" # Discord user ID for a user who will be assigned permissions.GlobalAdmin on startup, can be left blank

# Wargaming API
WG_AUTH_APP_ID="" # Used to verify WG accounts, this app id will be exposed to the end user
WG_AUTH_REDIRECT_URI="yourdomain.com/api/auth/wargaming/redirect"
# Requests initiated by a user will always go through the "primary" wg app id and proxy
WG_PRIMARY_APP_ID=""
WG_PRIMARY_APP_RPS="10"
WG_PRIMARY_REQUEST_TIMEOUT_SEC="5"
# List of proxy hosts separated by comma in the format user:password@host:port?wgAppId=your_app_id&maxRps=20, this can be left blank to disable proxying
WG_PROXY_HOST_LIST=""

# Requests initiated from tasks during cache updates and etc will always go through this wg app id and proxy
WG_CACHE_APP_ID=""
WG_CACHE_APP_RPS="10"
WG_CACHE_REQUEST_TIMEOUT_SEC="15"
# List of proxy hosts separated by comma in the format user:password@host:port?wgAppId=your_app_id&maxRps=20, this can be left blank to disable proxying
WG_CACHE_PROXY_HOST_LIST=""

# Discord
DISCORD_TOKEN=""
DISCORD_CLIENT_ID=""
DISCORD_PUBLIC_KEY=""
DISCORD_PRIMARY_GUILD_ID="" # Discord ID of the primary guild, some features will be locked to this guild only
DISCORD_ERROR_REPORT_WEBHOOK_URL="" # A Discord webhook URL for a channel where the bot should report errors
DISCORD_EVENT_FIREHOSE_WEBHOOK_URL="" # If defined, all events interaction events (commands, button clicks, etc) will be sent to this webhook
DISCORD_AUTH_DEFAULT_SCOPES="guilds identify"
DISCORD_AUTH_REDIRECT_URL=""
DISCORD_AUTH_CLIENT_SECRET=""
DISCORD_AUTH_CLIENT_ID=""
DISCORD_CONTENT_MODERATION_CHANNEL_ID=""

# Emoji
EMOJI_AFTERMATH_YELLOW_ID="" # name has to be "yellow"
EMOJI_AFTERMATH_BLUE_ID="" # name has to be "blue"
EMOJI_AFTERMATH_RED_ID="" # name has to be "red"

# Authentication
AUTH_DEV_MODE="false"
AUTH_COOKIE_PATH="/"
AUTH_COOKIE_DOMAIN="yourdomain.com"

# Optional components
SCHEDULER_ENABLED="true" # Scheduler is responsible for refreshing glossary cache and recording sessions
SCHEDULER_CONCURRENT_WORKERS="5" 
PRIVATE_SERVER_ENABLED="true" # A private server can be used to access some managemenet endpoints
PRIVATE_SERVER_PORT="9093"

# Discord Invites
PRIMARY_GUILD_INVITE_LINK="https://discord.gg/..."
BOT_INVITE_LINK="https://discord.com/application-directory/..."
BOT_USER_ID="1090704976784916581"

# This is not required for local deployment using compose. When deploying with Dokploy, this is the domain aftermath service will be available on.
TRAEFIK_HOST="local.amth.one"

# Misc configuration
FRONTEND_URL="https://yourdomain.com"
WEBAPP_NAME="Aftermath"
ENVIRONMENT="release" # this is used to pull the correct image, needs to march a github branch
LOG_LEVEL="info"
NETWORK="tcp"
PORT="9092"
DEV_MODE="false"