# This file defines the base services that will be extended from in order for us to support multiple platforms/deployment options
# While it is fine to import .env files through `env_file` option here, `environment` should never be defined in this file - it will be overwritten
services:
  aftermath-migrate-base:
    image: aftermath-migrations:${ENVIRONMENT}
    build:
      context: .
      dockerfile: Dockerfile.migrate
    command: migrate apply --dir "file:///migrations" --allow-dirty --tx-mode all --url "${DATABASE_URL}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      resources:
        reservations:
          memory: 2048m
        limits:
          memory: 2048m

  aftermath-service-base:
    pull_policy: always
    image: aftermath:${ENVIRONMENT}
    env_file:
      - .env
    deploy:
      # go runtime will try to keep memory usage right under the container limit
      resources:
        reservations:
          memory: 256m
        limits:
          memory: 256m

  aftermath-collector-base:
    image: aftermath-collector:${ENVIRONMENT}
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BRAND_FLAVOR: ${BRAND_FLAVOR}
        LOCALIZE_API_KEY: ${LOCALIZE_API_KEY}
    env_file:
      - .env
    deploy:
      # go runtime will try to keep memory usage right under the container limit
      resources:
        reservations:
          memory: 256m
        limits:
          memory: 256m
