services:
  # collector:
  #   extends:
  #     file: docker-compose.base.yaml
  #     service: aftermath-collector-base
  #   restart: no
  #   environment:
  #     - COLLECTOR_BACKEND_URL=backend-${ENVIRONMENT}:${PRIVATE_SERVER_PORT}
  #     - DATABASE_URL=${DATABASE_URL}
  #   networks:
  #     dokploy-network:
  #       aliases:
  #         - collector-${ENVIRONMENT}

  migrate:
    pull_policy: build 
    extends:
      file: docker-compose.base.yaml
      service: aftermath-migrate-base
    environment:
      - DATABASE_URL=${DATABASE_URL}
    networks:
      dokploy-network:
        aliases:
          - migrate-${ENVIRONMENT}

  backend:
    pull_policy: build
    extends:
      file: docker-compose.base.yaml
      service: aftermath-service-base
    restart: always
    environment:
      # the rest is imported from .env, which is going to be created by Dokploy automatically
      - PORT=3000 # the port does not matter, but it needs to match Traefik labels. we set it here explicitly in order to avoid any issues
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      migrate:
        condition: service_completed_successfully
    expose:
      - 3000
    networks:
      dokploy-network:
        aliases:
          - backend-${ENVIRONMENT}

networks:
  dokploy-network:
    external: true
