services:
  collector:
    extends:
      file: docker-compose.base.yaml
      service: aftermath-collector-base
    restart: no
    environment:
      - COLLECTOR_BACKEND_URL=backend-${ENVIRONMENT}:${PRIVATE_SERVER_PORT}
      - DATABASE_HOST=database-${ENVIRONMENT}:5432
    networks:
      dokploy-network:
        aliases:
          - collector-${ENVIRONMENT}

  database:
    hostname: database-${ENVIRONMENT}
    extends:
      file: docker-compose.base.yaml
      service: aftermath-database-base
    restart: always
    networks:
      dokploy-network:
        aliases:
          - database-${ENVIRONMENT}

  database-backup:
    hostname: database-backup-${ENVIRONMENT}
    extends:
      file: docker-compose.base.yaml
      service: aftermath-backup-base
    restart: never
    environment:
      # relations will not be scanned when making a backup
      - TARGET_TABLES="account,clan,app_configuration,application_command,user,user_connection,user_subscription,user_content,user_restriction,moderation_request,widget_settings"
      - DATABASE_URL=${DATABASE_URL}
      - S3_BUCKET=${DATABASE_BACKUP_S3_BUCKET}
      - AWS_ACCESS_KEY_ID=${DATABASE_BACKUP_AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${DATABASE_BACKUP_AWS_SECRET_ACCESS_KEY}
    depends_on:
      migrate:
        condition: service_completed_successfully
      database:
        condition: service_healthy
    networks:
      dokploy-network:
        aliases:
          - database-backup-${ENVIRONMENT}

  migrate:
    extends:
      file: docker-compose.base.yaml
      service: aftermath-migrate-base
    environment:
      - DATABASE_HOST=database-${ENVIRONMENT}:5432
    depends_on:
      database:
        condition: service_healthy
    networks:
      dokploy-network:
        aliases:
          - migrate-${ENVIRONMENT}

  backend:
    extends:
      file: docker-compose.base.yaml
      service: aftermath-service-base
    restart: always
    environment:
      - DATABASE_HOST=database-${ENVIRONMENT}:5432
    depends_on:
      migrate:
        condition: service_completed_successfully
      database:
        condition: service_healthy
    expose:
      - 3000
    networks:
      dokploy-network:
        aliases:
          - backend-${ENVIRONMENT}

networks:
  dokploy-network:
    external: true
